table,
.spinner,
.c-table {
  text-align: center;
}

.pagination-button {
  margin-bottom: 50px;
}

.bold {
  font-weight: 900;
}

/* .app {
  width: 50%;
  margin: 0 auto;
} */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

tr {
  overflow-x: scroll;
}

th,
td {
  padding: 15px 15px;
  vertical-align: middle;
}

thead {
  font-size: 14px;
  line-height: 24px;
  font-family: Lato;
  border: 1px solid transparent;

  max-width: 100%;
  font-weight: 900;
  line-height: 24px;
  mix-blend-mode: normal;

  color: rgba(51, 51, 51, 0.5);
  background: rgba(255, 255, 255, 0.9);
}

thead tr th {
  padding: 15px 15px;
  border: 1px solid transparent;

  text-align: center;
}

tbody {
  max-width: 100%;
}

tbody tr:nth-child(odd) {
  background: #f0f0f2;
}

tbody tr:hover {
  background: #f0f0f2;
}

td {
  padding: 15px 15px;
}

ul {
  list-style-type: none;
}

ul.pagination {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* ul.pagination li.page-item.active a.page-link {
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important;
}

ul.pagination a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 1rem;
} */

ul.pagination li.page-item.active .page-number {
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important;
}

ul.pagination p {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4;
  font-weight: 900;
  font-size: 1rem;
}

ul.pagination a.page-number:hover {
  background-color: #f4f4f4;
}

.pagination {
  display: flex;
}
